.App {
    display: grid;
    background-color: rgb(45, 41, 61);
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.left-side {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
}

.gameboard {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(8, 1fr);
}
