*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: radial-gradient(50% 99%, #25274a 10%, #333666 99%);
}

img {
  display: block;
  max-width: 100%;
}